{% extends "base.html" %}
{% block content %}
<div>
    {% if form %}
    <form class="formLogin" method="POST">
        {% include "Account/messages.html" %}
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }} 
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        {{form.non_field_errors}}
        <button class="btnLogin" type="submit" data-url="{% url "loginAPI" %}" >Login</button>
    </form>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('.btnLogin').addEventListener('click', function(event){
        event.preventDefault();
        let form = document.querySelector('.formLogin');
        let formData = {
            email: form.username.value,
            password: form.password.value
        };
        console.log(formData);
        
        let url = document.querySelector('.btnLogin').getAttribute('data-url');
        let urlTran = document.querySelector('.btnLogin').getAttribute('data-tran');
        console.log(urlTran);
        fetch(url,{
            method: 'POST',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Content-Type': 'application/json',
            },
            cache: "no-cache",
            credentials: 'include', 
            body : JSON.stringify(formData)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log("Response from server:", data);
            if (data.success === "Login Successful!!") {
                let messageBox = document.querySelector('.message .alert .alert-message');
                messageBox.textContent = data.success;
                document.querySelector('.message').style.display = 'block';
                setTimeout(() => {
                    window.location.href = data.next;
                }, 2000);
            }else {
                console.error("Login failed:", data.error);
                let messageBox = document.querySelector('.message .alert .alert-message');
                messageBox.textContent = data.error || "Login failed";
                document.querySelector('.message').style.display = 'block';
                setTimeout(() => {
                    document.querySelector('.message').style.display = 'none';
                }, 2000);
            }
        })
    });

</script>
{% endblock script %}
