<header class="section-header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-md-0">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarTop4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
            <div class="collapse navbar-collapse justify-content-around" id="navbarTop4">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">   English </a>
                        
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> USD </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
                    <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
                </ul>
            </div>
            </div>
        </div>
    </nav>


    <section class="header-main border-bottom">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <!-- Div 1: Logo & Categories -->
            <div class="col-lg-4 col-md-12 d-flex flex-column mb-3 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="col-6">
                        <div class="row align-items-center">
                            GREATKART
                        </div>
                    </div>
                    <div class="d-flex flex-wrap flex-grow-0">
                        <div class="category-wrap dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-bars"></i> All category
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">All Product</a>
                                {% for i in links %}
                                <a class="dropdown-item" href="#">{{i.category_name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="btn btn-info ms-2">
                            <a class="text-decoration-none text-white" href="store">
                            Store
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Div 2: Search Bar -->
            <div class="col-lg-4 col-md-12 d-flex align-items-center mb-3 mb-lg-0">
                <input type="text" name="search" class="form-control me-2" placeholder="Search">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        
            <!-- Div 3: Welcome & Sign-in -->
            <div class="col-lg-4 col-md-12 text-lg-end text-center">
                <p class="title text-muted small mb-1">Welcome guest</p>
                <div>
                    <a style="color: black" href="#">Sign in</a> <span> | </span>
                    <a style="color: black" href="#">Register</a>
                </div>
            </div>
        </div>
        
    </section>
</header>