.store-content .container{
    display: flex;
}

.store-filter-button{
    text-decoration: none;
    font-size: large;
    color: black;
}


.img-container {
    overflow: hidden;
}

.img-container img{
    object-fit: fill;
}
